@model MikhunaEcuador.Models.Comentario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Comentario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Receta.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receta.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.NickName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.NickName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contenido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contenido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ComentarioID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
